*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header */
.header-container {
    background-color: #120323;
    text-align: center;
}

.header-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #97bf04;
    margin: 0;
}

.header-container .img{
    background-color: #120323;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 20px;
    max-width: 150px;
    margin-bottom: 10px; 
}

/* Major Container */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Image and text of Puffin */
main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

main figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 3px solid red;
}

figcaption {
    padding: 15px;
    margin-top: 10px;
    text-align: left;
}

figcaption h2 {
    color: #120323;
}

aside {
    width: 100vw;
    background-color: #97bf04;
    padding: 20px;
    box-sizing: border-box; 
    margin: 0; 
}

aside h3 {
    color: black;
}

aside p {
    color: #333;
}

/* Footer */
footer {
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Responsive Design */

/* Tablet View */
@media (min-width: 768px) {
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header-container img {
        max-width: 100px;
        margin-right: 15px;
    }

    .header-container h1 {
        font-size: 28px;
        margin-top: 0;
    }

    main figure {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    main figure img {
        max-width: 300px;
        margin-right: 15px;
    }

    figcaption {
        max-width: 400px;
    }

    aside {
        width: 100vw;
        background-color: #97bf04;
        padding: 20px;
        box-sizing: border-box; 
        margin: 0; 
    }
}

/* Desktop View */
@media (min-width: 1000px) {

#container {
    display: flex;
    flex-direction: row; 
}

main {
    flex: 2;  
}

aside {
    flex: 1;
    margin-top: 0;
    max-width: 400px;
    margin-left: -32px; 
    margin-right: -32px;
}

}
